/* ===================================
   DOE DESIGNS
=================================== */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html{
    scroll-behavior:smooth;
}

body{
    min-height:100vh;
    overflow-x:hidden;
    background:#06080B;
    color:#fff;
    font-family:"Jost",sans-serif;
}

.reduce-motion *,
.reduce-motion *::before,
.reduce-motion *::after{
    animation:none !important;
    transition:none !important;
}

.title-break{
    display:block;
}

/* ===================================
   HEADER / NAVIGATION
=================================== */

header{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    z-index:9999;
}

.navbar{
    height:70px;
    display:flex;
	position:relative;
    justify-content:space-between;
    align-items:center;
    padding:0 40px;
    background:rgba(0,0,0,.82);
    backdrop-filter:blur(8px);
    -webkit-backdrop-filter:blur(8px);
    border-bottom:1px solid rgba(255,255,255,.08);
}

/* ===================================
   LOGO
=================================== */

.logo{
    display:flex;
    align-items:center;
    text-decoration:none;
    line-height:1;
}

.logo-doe{
    font-family:"Barlow Condensed",sans-serif;
    font-size:38px;
    font-weight:900;
    letter-spacing:.08em;
    color:#00E5FF;
}

.logo-designs{
    font-family:"Barlow Condensed",sans-serif;
    font-size:17px;
    font-weight:300;
    color:#fff;
    margin-left:4px;
    transform:translateY(5px);
    transition:.3s;
	position: relative;

}

.logo:hover .logo-designs{
    color:#00E5FF;
}

.logo-designs::after {
    content:"";
    position:absolute;
    left:0;
    bottom:-8px;
    width:100%;
    height:2px;
    background:#00E5FF;
    transform:scaleX(0);
    transform-origin:left;
    transition:.35s ease;

}

.logo:hover .logo-designs::after {
    transform:scaleX(1);
}

/* ===================================
   NAVIGATION LINKS
=================================== */

.nav-links{
    display:flex;
    gap:55px;
    list-style:none;
	transition:
opacity .6s ease,
transform .6s ease;
}

.nav-links a{
    position:relative;
    display:inline-block;
    text-decoration:none;
    font-family:"Barlow Condensed",sans-serif;
    font-size:13px;
    letter-spacing:.28em;
    text-transform:uppercase;
    color:#fff;
    transition:.3s;
}

/* underline */

.nav-links a::after{
    content:"";
    position:absolute;
    left:0;
    bottom:-8px;
    width:100%;
    height:2px;
    background:#00E5FF;
    transform:scaleX(0);
    transform-origin:left;
    transition:transform .35s ease;
}

/* hover */

.nav-links a:hover{
    color:#00E5FF;
}

.nav-links a:hover::after{
    transform:scaleX(1);
}

/* active page */

.nav-links a.active{
    color:#00E5FF;
}

.nav-links a.active::after{
    transform:scaleX(1);
}

.nav-links a.active:hover{
    color:#fff;
}

.nav-links a.active:hover::after{
    background:#fff;
}


/* ===================================
   GLOBAL BUTTON
=================================== */

.enter-button{
    display:inline-block;
    position:relative;
    text-decoration:none;
    color:#00E5FF;
    font-family:"Barlow Condensed",sans-serif;
    font-size:16px;
    letter-spacing:.35em;
    text-transform:uppercase;
    transition:.3s;
}

.enter-button::after{
    content:"";
    position:absolute;
    left:0;
    bottom:-8px;
    width:100%;
    height:2px;
    background:#00E5FF;
    transform:scaleX(.3);
    transform-origin:center;
    transition:.3s;
}

.enter-button:hover{
    color:#fff;
    letter-spacing:.42em;
}

.enter-button:hover::after{
    transform:scaleX(1);
}
/* ===================================
   GLOBAL PAGE LAYOUT
=================================== */

.page-content{
    width:min(1200px,92vw);
    margin:0 auto;
    padding-top:110px;
    padding-bottom:60px;
    display:flex;
    flex-direction:column;
    align-items:center;
    position:relative;
    z-index:2;
}

/* ===================================
   IMAGE SIZE HELPERS
=================================== */

.img-small {
    width:200px;
    height:auto;
}

.img-medium {
    width:350px;
    height:auto;
}

.img-large {
    width:500px;
    height:auto;
}

.img-small,
.img-medium,
.img-large {
    display:block;
    margin-left:auto;
    margin-right:auto;
}

.img-tall {
	height:min(300px,60vh); 
    width:auto; 
	max-width:90%;
	display:block;
    margin:0 auto;
}

.video-small {
    width:350px;
    height:auto;
    display:block;
    margin-left:auto;
    margin-right:auto;
}

.video-medium {
    width:600px;
    height:auto;
    display:block;
    margin-left:auto;
    margin-right:auto;
}

/* ===================================
   PAGE CONTACT LINK
=================================== */

.page-contact-link{
 width:100%;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    text-align:center;
    gap:18px;
    margin:30px auto 15px;
}

.page-contact-link p,
	.contact-subtitle{
    color: white;
	font-size:15px;
	font-family: "Jost",sans-serif;
	letter-spacing:.08em;
		text-align:center;
}

/* ===================================
FOOTER
=================================== */

/* Fixed footer pages */

body:not(.scroll-page) footer {
    position:fixed;
    left:0;
    bottom:35px;
    width:100%;
    text-align:center;
    font-size:12px;
    letter-spacing:.18em;
    color:rgba(255,255,255,.45);
    z-index:1100;
}

/* Scrollable project pages */

.scroll-page footer {
    position:relative;
    width:100%;
    margin-top:80px;
    padding-bottom:40px;
    text-align:center;
    font-size:12px;
    letter-spacing:.18em;
    color:rgba(255,255,255,.45);
    z-index:10;
}

/* ===================================
   Lightbox Transition
=================================== */

.lightbox-trigger{
    cursor:pointer;
    transition:.35s ease;
}

.lightbox-trigger:hover{
    transform:translateY(-5px);
    box-shadow:
    0 0 20px rgba(0,229,255,.35),
    0 30px 60px rgba(0,0,0,.6);
}

/* ===================================
   IMAGE LIGHTBOX
=================================== */

.lightbox-image img{
    cursor:pointer;
    transition:.35s ease;
}

.lightbox-image img:hover{
    transform:translateY(-5px);
    box-shadow:
    0 0 20px rgba(0,229,255,.35),
    0 30px 60px rgba(0,0,0,.6);
}

/* LIGHTBOX BACKGROUND */

.lightbox{
    position:fixed;
    inset:0;
    display:flex;
    justify-content:center;
    align-items:center;
    background:rgba(0,0,0,.88);
	 backdrop-filter:blur(8px);
    z-index:10000;
    opacity:0;
    visibility:hidden;
    transition:.4s ease;
}

/* OPEN STATE */

.lightbox.active{
    opacity:1;
    visibility:visible;
}

/* BLACK IMAGE CONTAINER */

.lightbox-box{
    position:relative;
    width:min(90vw,1100px);
    max-height:90vh;
    padding:40px;
	   background:#050507;
    border:1px solid rgba(255,255,255,.15);
    box-shadow:
    0 40px 100px rgba(0,0,0,.8);
}

/* LARGE IMAGE */

.lightbox-image-large{
    display:block;
    max-width:100%;
    max-height:80vh;
    width:auto;
    height:auto;
    margin:auto;
}

.lightbox-description{
    margin-top:30px;
    color:rgba(255,255,255,.8);
    font-family:"Jost",sans-serif;
    font-size:16px;
    line-height:1.8;
    letter-spacing:.04em;
    text-align:center;
}

/* CLOSE BUTTON */

.lightbox-close{
	position:absolute;
    left:-35px;
    top:20px;
    width:42px;
    height:42px;
    background:none;
    border:none;
    cursor:pointer;
}

/* X */

.lightbox-close span::before,
.lightbox-close span::after{
    content:"";
    position:absolute;
    top:20px;
    left:10px;
    width:22px;
    height:2px;
	 background:white;
    transition:.35s ease;
}

.lightbox-close span::before{
    transform:rotate(45deg);
}

.lightbox-close span::after{
    transform:rotate(-45deg);
}

/* CYAN ROTATING CIRCLE */

.lightbox-close::before{
    content:"";
    position:absolute;
    inset:-10px;
    border-radius:50%;
    border:2px solid transparent;
	 border-top-color:#00E5FF;
    opacity:0;
}

.lightbox-close:hover::before{
    opacity:1;
    animation:
    lightboxSpin 5s linear infinite;
}

.lightbox-close:hover span::before,
.lightbox-close:hover span::after{
    background:#00E5FF;
}

@keyframes lightboxSpin{
    from{
        transform:rotate(0deg);
    }
    to{
        transform:rotate(360deg);
		 }
}

/* ===================================
   MOBILE
=================================== */

@media(max-width:700px){
    .lightbox-box{
        width:90vw;
        padding:20px;
    }

    .lightbox-close{
        left:10px;
        top:-55px;
    }
}

@media (max-width:900px){
    .navbar{
        padding:0 20px;
    }

    .nav-links{
        gap:24px;
    }

    .nav-links a{
        font-size:13px;
        letter-spacing:.28em;
    }

    .logo-doe{
        font-size:30px;
    }

    .logo-designs{
        font-size:14px;
    }
}

@media(max-width:768px){

.img-large {
    width:85%;
}

.img-medium {
    width:70%;
}
}

#effects,
#dust {
    position: fixed;
    inset: 0;
    width: 100vw;
    height: 100vh;
    pointer-events: none;
    z-index: 1;
}